.layout {
  width: 100%;
  background: #ffffff;
  display: grid;
  grid: "body right" 1fr / 1fr 440px;
  gap: 4px;
}

.body {
  grid-area: body;
}

.right {
  grid-area: right;
}

.shortLetter {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  color: var(--text);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links-item {
  padding: 5px 8px;
  color: var(--accent);
  border-bottom: 3px solid transparent;
}



.nav-links-item {
  text-decoration: none;
  color: var(--text);
  font-size: 14px;
  font-weight: 500;
}
.nav-links-item:hover {
  border-bottom: 3px solid #3771bd;
  transition: all 0.3s ease;
    color: #3771bd;

}
.nav-links:hover{
    color: #abadb1;
}


.capitalLetter {
  color: #3771bd;
}

.btn-cv-download {
  padding: 4px 15px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.7rem;
  background-color: #191f27;
  color: var(--text-w);
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.hero-text {
  background: url("./assets/wireframe/personedt-removebg-preview.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.hero-btns-social {
  display: flex;
  flex-direction: column;

  padding: 10px 0px;
  gap: 10px;
}

.socials {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sayHello {
  background-color: #bce4c15d;
  color: #1fcc6d;
  display: inline-block;
  padding: 2px 4px;
  border-radius: 5px;
  font-size: 0.5rem;
  cursor: pointer;
}

.name {
  font-size: 2rem;
  font-weight: bold;
  margin: 10px 0px 5px 0px;
}

.surname,
.elementIcon {
  color: #3771bd;
}

.signature {
  border-right: 3px solid #1057b4;
  padding-right: 8px;
  margin: 5px 0px 15px 0;
  display: inline-block;
}

.legend {
  width: 50%;
  font-size: 0.8rem;
}

.btns-hero {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.Links-hero {
  padding: 5px 20px;
  font-size: 0.7rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.Links-hero:nth-child(1) {
  background-color: #191f27;
  color: var(--text-w);
}
.Links-hero:nth-child(2) {
  background-color: #e8ebf0;
  color: #191f27;
}

.social {
  width: 25px;
  height: 25px;
  font-size: 1.2rem;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--text);
}

.tooltip-icon-button {
  background: none;
  border: none;
  cursor: pointer;
}

.GitHub:hover {
  color: #101214;
}
.Linkdin:hover {
  color: #0a66c2;
}
.Email:hover {
  color: #cc5353;
}
.Youtube:hover {
  color: #ff0033;
}

.tooltip-text {
  background: #000000ef;
  position: absolute;
  color: white;
  border-radius: 5px;
  min-height: 60px;
  top: 25px;
  left: 8px;
  padding: 4px 15px;
  z-index: 10;
  font-size: 12px;
}

.heroPerfil {
  padding: 0px 25px 0px 25px;
}

/* hero-text-about */

.hero-text-about {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 20px;
}

.hero-text-about-item {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.AboutSubtitle {
  color: #191f27;
  font-weight: 500;
}

.elementItem {
  min-height: 35px;
  width: 100%;
  border-radius: 8px;
  font-size: 0.8rem;
  color: #191f27;
  font-weight: 500;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.elementItem:hover {
  background: #dfdede6b;
}

.itemAbouts {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  margin-top: 8px;
  padding: 0 10px;
}

/* text-subtitle */
.text-subtitle {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.subtitle-icon {
  color: #3771bd;
  font-weight: bold;
}

.subtitle-legend {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.subtitle-legend p {
  margin: 0px;
  color: #191f27;
  font-weight: 500;
}

.contentProject {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.cardProject {
  display: flex;
  flex-direction: column;

  gap: 5px;
  width: 40%;
  padding: 4px;
  border-radius: 10px;
  background: rgba(230, 228, 226, 0.651);
}

.cardProjectTitle {
  font-size: 0.9rem;
  font-weight: 500;
  color: #191f27;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}

.cardProjectInfo {
  color: #929496;
  font-size: 0.6rem;
}

.actionProject {
  display: flex;
  flex-direction: row;
  height: 30px;
  align-items: center;
  justify-content: space-between;
}
.arrowProject {
  color: #2f568a;
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 4px;
}

.arrowProject:hover {
  color: #3771bd;
}
.contentTagProject {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.tagProject {
  background: #a6a6a67c;
  border-radius: 5px;
  padding: 0 4px;
  color: #737577;
  font-size: 0.6rem;
}

.perfilGitImage {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  border: 2px solid #92949652;
}

.nameGitUser {
  font-weight: bold;
  font-size: 0.8rem;
  color: #3771bd;
}

.GitInfoUser {
  background: rgba(230, 228, 226, 0.651);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  min-height: 150px;
  border-radius: 25px;
  gap: 10px;
  margin: 20px 0;
}

.avatarGit {
  min-width: 100;
}

.asideLenguage, .iconoAside{
  display: flex;
  flex-direction: column;
}

.iconoAsideBox{
  display: flex;
  flex-direction: row;
  gap: 4px;

}

.iconoAside{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 55px;
  gap: 2px;
  font-size: .6rem;
}
