.layout {
  width: 100%;
  background: #f5f5f5;
  display: grid;
  grid:
    "body right" 1fr
    / 1fr 440px;
  gap: 4px;
}

.body {
  grid-area: body;
}
.right {
  grid-area: right;
}

.shortLetter {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  color: var(--text);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  padding: 5px 8px;
  color: var(--accent);
  border-bottom: 3px solid transparent;
}

.nav-links li:hover {
  border-bottom: 3px solid #3771bd;
  transition: all 0.3s ease;
}

.nav-links li a {
  text-decoration: none;
  color: var(--text);
  font-weight: 500;
}

.nav-links a:hover,
.capitalLetter {
  color: #3771bd;
}

.btn-cv-download {
  padding: 4px 15px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.7rem;
  background-color: var(--accent);
  color: var(--text-w);
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.hero-text {
  background: url("./assets/wireframe/personedt.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.hero-btns-social {
  display: flex;
  flex-direction: column;

  padding: 10px 0px;
  gap: 10px;
}

.socials {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--social-bg); */
  color: var(--text);
  cursor: pointer;
}

.sayHello {
  background-color: #bce4c15d;
  color: #1fcc6d;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.6rem;
  cursor: pointer;
}

.name {
  font-size: 2rem;
  font-weight: bold;
  margin: 10px 0px 5px 0px;
}

.surname, .elementIcon {
  color: #3771bd;
}

.signature {
  border-right: 3px solid #1057b4;
  padding-right: 8px;
  margin: 5px 0px 15px 0;
  display: inline-block;
}

.legend {
  width: 50%;
  font-size: 0.8rem;
}

.btns-hero button {
  padding: 10px 20px;
  font-size: 0.7rem;

  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.btns-hero button:nth-child(1) {
  background-color: #191f27;
  color: var(--text-w);
}

.heroPerfil {
  padding: 0px 25px 0px 25px;
}

/* hero-text-about */

.hero-text-about {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
}

.hero-text-about-item {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.AboutSubtitle {
  color: #191f27;
  font-weight: 500;
}

.elementItem{
  min-height: 35px;
  border-radius: 8px;
  font-size: 0.8rem;
  color: #191f27;
  font-weight: 500;
  align-items: center;
  cursor: pointer;
}

.elementItem:hover{
background: #dfdede6b;
}


.itemAbouts{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  margin-top: 8px;
  padding: 0 10px;
}

/* text-subtitle */
.text-subtitle {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.subtitle-icon {
  color: #3771bd;
  font-weight: bold;
}

.subtitle-legend {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.subtitle-legend p {
  margin: 0px;
  color: #191f27;
  font-weight: 500;
}
